/.vscode/
/dist/

*.o
*.elf
*.prx
*.a
*.SFO
*.PBP
/Installer/galaxy.h
/Installer/inferno.h
/Installer/recovery.h
/Installer/march33.h
/Installer/march33_620.h
/Installer/march33_660.h
/Installer/popcorn.h
/Installer/satelite.h
/Installer/stargate.h
/Installer/systemctrl.h
/Installer/usbdevice.h
/Installer/vshctrl.h
/CIPL/combine/ipl_block_01g.bin
/CIPL/combine/ipl_block_01g.h
/CIPL/combine/ipl_block_02g.bin
/CIPL/combine/ipl_block_large.h
/CIPL/mainbinex/patch_01g.bin
/CIPL/mainbinex/patch_02g.bin
/CIPL/payloadex/nand_payloadex_01g.h
/CIPL/payloadex/nand_payloadex_02g.h
/CIPL/ipl_block_01g.h
/CIPL/ipl_block_large.h
/Rebootex_bin/main.s
/Rebootex_bin/rebootex.bin
/Rebootex_bin/rebootex.h
/PXE/Launcher/Rebootex_prx.h
/PXE/Launcher/installer.h
/PXE/Launcher/rebootex.h
/PXE/RebootexPXE/main.s
/PXE/RebootexPXE/rebootex.bin
/PXE/RebootexPXE/systemctrl.h
